{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="" style="">
	<div style="height: 170px;">
		<div class="row" style="">
			<div class="col-md-2 profile" style="">
				<div class="profile_pic">
					<img src="{% static 'images/goku.png' %}" style="width: 100px;height: 100px;border-radius: 50%">
				</div>
			</div>
			<div class="col-md-10">
					<h3>Name</h3>
					<p>About :  Praesent rutrum vehicula tellus, nec consectetur tellus semper in. Fusce luctus volutpat faucibus. Nunc in nunc ornare, lacinia felis dictum, interdum purus.</p>
			</div>
		</div>
		<div class="row" style="height: 35px">
			<div class="nav profile_nav">
				<ul style="margin-top: 5px;">
					<li class="active"><a class="nav-link " href="">My Account</a></li>
					<li><a href="">Edit</a></li>
					<li><a href="">My Vendor</a></li>
					<li><a href="">xyz</a></li>
					<li><a href="">abc</a></li>
				</ul>
			</div>
		</div> 
	</div>
</div>
<div class="data" style="height: 1000px">
</div>

{% endblock content %}