<div class="footer" style="background-color: grey;">
	<div class="container" style="">
		<div class="row" style="text-align: center;">
			<div class="col-md-4" style="height: 325px;">
				<div class="heading-footer1">
					<h4 style="color: #fff;">
						Papers
					</h4>
				</div>
			</div>
			<div class="col-md-4" style="height: 325px">
				<div class="heading-footer1">
					<h4 style="color: #fff;">
						Subscribe
					</h4>
				</div>
			</div>
			<div class="col-md-4" style="height: 325px">
				<div class="heading-footer1">
					<h4 style="color: #fff;">
						Facebook
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer" style="background-color: #333">
	<div class="container" style="padding:5px 0">
		<div class="row" style="margin: 0px 0px;">
			<div class="col-md-6 col-sm-6">
				<div class="row second-footer" style="font-size: 15px;color: #fff;">
					
						<ul>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Contact Us</a></li>
							<li><a href="">services</a></li>
							<li><a href="">terms and conditions</a></li>
						</ul>
					
				</div>
				<div class="row " style="font-size: 15px;color: #fff;">
					<div style=" padding: 4px 0px;">
						<p style="margin-top: 0px;">Copyright2017 | Sightnext Informatics Pvt. Ltd.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6" style="text-align: right;display:flex;">
				<div style="margin:auto 0px auto auto ">
					<ul>
						<li>fb</li>
						<li>pi</li>
						<li>in</li>
						<li>tw</li>
						<li>yo</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</div>
